# Rename to application-dev.yaml and set a datasource for development here.
# The docker folder contains a compose-file that matches the example settings.
spring:
  datasource:
    url: jdbc:postgresql://localhost:54321/cocktails
    username: dev
    password: verysecure
  jackson:
    serialization:
      INDENT_OUTPUT: true
# This enables logging of every single query. Probably should not be enabled on production, but is useful on dev
jdbi:
  logging:
    enabled: true
    show-parameters: true
